@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  height: 100%;
  margin: 0;
}

.scroll {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
}


.scroll {
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
  scroll-snap-type: y proximity;
}

.scroll>div {
  scroll-snap-align: start;
}

body {
  /* position: fixed; */
  overflow: hidden;
  overscroll-behavior-y: none;
  background-color: #101010;
  background: radial-gradient(circle at bottom center, #212121 0%, #101010 80%);
  font-family: "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
}


.dot {
  pointer-events: none;
  position: sticky;
  color: white;
}

.dot>h1 {
  -webkit-font-smoothing: auto;
  pointer-events: none;
  color: white;
  font-size: 4em;
  font-weight: 100;
  line-height: 1em;
  margin: 0;
  margin-bottom: 0.25em;
}